@use '../assets/css/variable' as v;

.rp-subject{
    display: grid;
    gap: 20px;
    
    &_control{
        display: flex;
        h3{
            @include v.phone{
                font-size: 1rem;
                flex: 1;
            }
        }
    }
}