.rp-grade{
    display: grid;
    gap: 20px;
    
    &_control{
        display: flex;
    }
}
.rp-selection{
    min-width: 100px;
    margin-left: 10px;
}
.rp-gender_chart {
    display: flex;
    gap: 20px; 
    margin-top: 20px;
    .rp-chart {
        flex: 1;
    }
}