.rp-chart {
  background: #f8f8f8;
  padding: 20px;
}
.rp-skeleton{
  &_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  }
  &_item{
    padding: 20px;
  }
}
.rp-tooltip{
  &_content{
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: pre;
    & span{
      flex-shrink: 0;
    }
    &>span:first-child {
      height: 12px;
      width: 12px;
    }
  }
}