@use '../assets/css/variable' as v;

.rp-chart {
  background: v.$backgroundBox;
  padding: 20px;
  h4{
    @include v.phone{
      font-size: 0.8rem;
    }
  }
}
.rp-skeleton{
  &_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  }
  &_item{
    padding: 20px;
  }
}
.rp-tooltip{
  &_content{
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: pre;
    & span{
      flex-shrink: 0;
    }
    &>span:first-child {
      height: 12px;
      width: 12px;
    }
  }
}
.rp-recharts {
  display: flex;
  align-items: center;
  @include v.phone{
    flex-direction: column;
  }
  .recharts-legend-wrapper{
    @include v.phone{
      width: 100% !important;
    }
  }
  .recharts-default-legend {
    text-align: left !important;
    
    .recharts-legend-item{
      min-width: 80px;
    }
    @include v.phone{
      font-size: 0.7rem;
    }
  }
  .recharts-legend-item-text {
    color: #000 !important;
  }
}
@include v.phone{
  .recharts-polar-angle-axis-tick-value {
    font-size: 12px;
  }
}