.rp-overview {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}
.rp-chart.bar-chart:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
.rp-chart.bar-chart:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
}
.rp-chart.bar-chart:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
}