
.body-wrapper{
    @include desktop{
        padding: 0px 40px 0 100px;
    }
    @include phone {
        padding: 0px 15px;
    }
}
.header{
    min-height: 70px;
    // align-items: flex-start;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .logo {
        width: 200px;
        margin-right: auto;
        @include phone {
            width: 150px;
        }
    }
}
.row.align-center{
    padding: 0 10px;
}
.hamburger_menu{
    display: none;
    @include phone {
        display: block;
    }
}
.breadcrumb {
    align-self: stretch;
    margin: 10px 20px;
}
.left-menu {
    & >a{
        color: inherit;
    }
    @include desktop{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        background: #fff;
        padding: 85px 0 0 0;
        overflow: hidden;
       
        & .left-menu_item_name{
            opacity: 0;
        }

        &:hover{
            width: 240px;
            box-shadow: 0 0 10px rgba(33,33,33,.25);        
        }
        &:hover .left-menu_item_name{
            opacity: 1;
        }
    }
    @include phone {
        display: none;
    }
}
.MuiDrawer-root {
    .left-menu {
        display: block;
        margin-top: 50px;
    }
}
.left-menu_item {
    display: flex;
    padding: 5px 10px;
    height: 50px;
    align-items: center;
    &:hover{
        @include activeAndHoverMenu()
    }
    &_icon{
        min-width: 30px;
        width: 30px;
        margin-right: 15px;
        height: 30px;
    }
    &_name {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;    
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;

    }
}
a.active .left-menu_item {
    @include activeAndHoverMenu()
}
.hamburger_menu{
    position: relative;
    span,span::after,span::before{
        height: 3px;
        width: 20px;
        background: #787878;
        display: block;
    }
    span::after,span::before{
        content: '';
        position: absolute;
    }
    span::after{
        top: -5px;
    }
    span::before{
        top: 5px;
    }
}
.header_wrapper{
    @include phone{
        align-self: stretch;
        justify-content: space-between;
        // padding: 0 10px;
    }

}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    .mx-10 {
        @include phone{
            margin: 0 5px;
        }
    }
}